@model Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Categories"))
{
    <text>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.Name)
    <div>@Html.TextBoxFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
    <input type="submit" value = "Save Category" />
    </text>
}
@(Html.ActionLink<CategoriesController>(x => x.Delete(Model.Id), "Delete This Category"))