@model Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h3>@ViewBag.CategoryError</h3>

@using (Html.BeginForm("Edit", "Products"))
{
    <text>
    @Html.AntiForgeryToken()
    @Html.LabelFor(x => x.Name)
    <div>@Html.TextBoxFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
    @Html.LabelFor(x => x.Category)
    <div>@Html.DropDownListFor(x => x.Category, new SelectList(ViewBag.Categories, "Key", "Value")) @Html.ValidationMessageFor(x => x.Category)</div>
    <input type="submit" value = "Create Product" />
    </text>
}