@model Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Products"))
{
    <text>
    @Html.AntiForgeryToken()
    @Html.LabelFor(x => x.Name)
    <div>@Html.TextBoxFor(x => x.Name) @Html.ValidationMessageFor(x => x.Name)</div>
    @Html.LabelFor(x => x.Category)
    <div>@Html.DropDownListFor(x => x.Category, new SelectList(ViewBag.Categories, "Key", "Value"))  @Html.ValidationMessageFor(x => x.Category)</div>
    <input type="submit" value = "Save Product" />
    </text>
}
@(Html.ActionLink<ProductsController>(x => x.Delete(Model.Id), "Delete This Product"))